.Header{
    display: grid;
    grid-template-rows: 10% 90%;
}

.navbar{
    display: flex;
    justify-self: center;
    align-items: center;

}
.main-header{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 17px;

}

.main-right{
    color:#e48e9a;
    font-size: 50px;
    margin: 40px;
}

.main-left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.esfera{
    background-color: #fff;
    height: 300px;
    width: 300px;
    border-radius: 100% 100%;
}

.triangulo{
    background-color: #000;
    height: 300px;
    width: 300px;
    border-radius: 50px;
}