.Header{
    display: grid;
    grid-template-rows: 20% 80%;
}

.navbar{
    display: grid;
    grid-template-columns: 80% 20%;
    z-index: 1;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

.ico{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

.main-header{
    display: flex;
    margin: 25px;
}

.main-section{
    display: flex;
    color:#fff;
    font-size: 40px;
    margin: 40px;
}

.text-title{
padding: 0px 80px 0px 80px;
text-align: start;
}