.container-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    color: #fff;
}

.nav-bar{
    background-color: #fff;
    height: 2px;
    width: 250px;
    border-radius: 100px 100px 100px 100px;
    box-shadow: #000 1px 1px 15px 1px; 
}